/* Default styles */
body, html {
  height: 100%;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  justify-content: center;
  row-gap: 5%;
  background: #DEFAF6;
  justify-items: center;
  align-items: end;
  font-size: 16px; /* Default font size */
}

/* Logo */
.logo1 {
  grid-column: 1;
  align-self: center;
  justify-self: start;
  max-width: 100%; /* Adjust the maximum width of the logo */
}

/* Header */
.header {
  padding: 3vw; /* Padding in relation to the viewport width */
  text-align: center;
}

/* Footer */
.footer {
  width: 100%;
  height: 5vh; /* Fixed height for footer */
  background-color: #f0f0f0;
  bottom: 0;
  align-self: center;
}

/* Container */
.container {
  display: grid;
  grid-column: 2;
  justify-content: center;
  place-items: center;
  text-align: center;
  height: 100%;
}

/* Yourplace */
.yourplace {
  font-size: 5vw; /* Responsive font size */
}

/* Welcome */
.welcome {
  font-size: 2vw; /* Responsive font size */
}

/* Info */
.info {
  font-size: 0.9vw; /* Responsive font size */
}

/* Buttons */
.start,
.yes,
.no {
  width: 70%;
  height: 12vh; /* Adjusted height for responsiveness */
  border-radius: 20px;
  background: #8C068E;
  margin-bottom: 5%; /* Spacing between buttons */
}

.yes,
.no {
  width: 55%;
  height: 4vh; /* Adjusted height for smaller buttons */
}

/* Button Text */
.text-btn {
  color: #EFEFEF;
  font-family: Cabin;
  font-size: 2vw;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

/* Media Queries for different screen sizes */
@media (max-width: 768px) {
  /* Adjust styles for smaller devices */
  .header {
    padding: 8vw;
  }

  .start,
  .yes,
  .no {
    width: 80%;
  }
}

@media (max-width: 480px) {
  /* Adjust styles for even smaller devices */
  .header {
    padding: 12vw;
  }

  .start,
  .yes,
  .no {
    width: 90%;
  }
}

/* Media Queries for different screen sizes */
@media (min-width: 768px) {
  /* Adjust SVG size for larger screens */
  .logo1 {
    width: 80%; /* Adjust the width of the SVG for larger screens */
  }
}

@media (min-width: 1200px) {
  /* Further adjustment for even larger screens */
  .logo1 {
    width: 60%; /* Adjust the width of the SVG for very large screens */
  }
}