@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
}

.logo{
    position: absolute;
    top: 22px;
    left: 22px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-svg {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
}

.logo a{
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
    color: #222;
    padding-left: 50px;
}

.container{
    width: 440px;
    padding: 40px 32px;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: transparent;
}

.container h1{
    font-size: 1.6rem;
}

.container .social-login button i{
    font-size: 26px;
}

.container .social-login button:hover{
    color: #6b43ff;
    border-color: #6b43ff;
}

.container form .login{
    width: 100%;
    margin-top: 30px;
    background: #6b43ff;
    color: #fff;
    border: none;
    line-height: 50px;
    font-size: 18px;
    letter-spacing: 0.025em;
    cursor: pointer;
    font-weight: 800;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
}

.container form .login:hover{
    background: #5222fd;
}
